* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9dcd6;
  
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e6529748;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .Welcome {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

p {font-size: 25px;}

.desert img {
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

h2  {
  font-size: 40px; 
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #d6a43748;
  color: #ffffff;
}


.footer h2 {
  font-size: 20px;
}

.title {
    color: darkblue;
}

.project {
  color: rgb(109, 88, 226);
}

#Email {
    background-color: lightsteelblue;
    display: inline-block;
    font-size: 20px;
}

#Mobile {
  background-color: lightsteelblue;
  display: inline-block;
  font-size: 20px;
}


#github {
    background-color: lightsteelblue;
    display: inline-block;
    font-size: 20px;
}

#Linkedin {
    background-color: lightsteelblue;
    display: inline-block;
    font-size: 20px;
}
  
