* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e6529748;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .Welcome {
  color: #d9dcd6;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

h2  {
  font-size: 40px; 
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #d6a43748;
  color: #ffffff;
}

.Project-1 img {
  max-height: 20px;
}

.Project-2 img {
  max-height: 200px;
}

.Project-3 img {
  max-height: 200px;
}

.Project-1 h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.Project-2 h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.Project-3 h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.float-center {
  float: center;
  margin-right: 25px;
}

